ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  flex: 0 0 calc(22% - 2vh);
  margin: 1vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  height: auto;
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  max-height: 20vh;
  object-fit: contain;
  margin-bottom: 1vh;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
}

.content {
  padding: 0 1vh 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  font-size: 2.2vh;
  font-weight: 600;
  color: #000;
  margin-bottom: 1vh;
}

.price {
  font-size: 2.1vh;
  color: #666;
  margin-top: 4.8vh; 
}

.price::before {
  content: '₱';
  margin-right: 0.2vh;
  font-weight: 400;
}
